
.warp {
  display: inline-block;
}

  .dress {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 10px;
  }
  
  .img {
    height: 350px;
    width: 270px;
    margin-top: 9px;
    margin-left: 8px;
  }
  
  .footer {
    margin-top: 13pc;
    display: flexbox;
    align-content: center;
    background-color: #f8f9fa;
  }

  .likelist{
    list-style: none;
  }
  
  .heder{
    padding-top: 25px;
    padding-bottom: 25px;
  }